:root {
    --cor-primaria: #6A5ACD;
    --cor-secundaria: #FFFFFF;
    --fundo-cartao: rgba(106, 90, 205, 0.2);
    --cor-botao: #6A5ACD;
    --botao-hover: #7B68EE;
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-negrito: 'Montserrat', sans-serif;
    --cor-desabilitada: #A9A9A9;
}

[data-modo="foco"] {
    --degrade-fundo: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
}

[data-modo="descanso-curto"] {
    --degrade-fundo: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
}

[data-modo="descanso-longo"] {
    --degrade-fundo: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

body {
    background: var(--degrade-fundo);
    color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.aplicativo {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.cabecalho {
    margin-bottom: 20px;
}

.titulo {
    font-size: 3rem;
    font-weight: 700;
}

.info-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.banner {
    margin-bottom: 20px;
}

.frase {
    font-size: 1.5rem;
    font-weight: 400;
}

.frase strong {
    font-weight: 700;
}

.secao-temporizador {
    background: var(--fundo-cartao);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.menu-cartao {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.botao {
    background: none;
    border: none;
    color: var(--cor-secundaria);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s, color 0.3s;
    margin: 5px;
}

.botao.selecionado {
    background: var(--cor-primaria);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.botao.selecionado:hover {
    background: var(--botao-hover);
}

.botao.desabilitado {
    color: var(--cor-desabilitada);
    cursor: not-allowed;
}

.temporizador {
    font-size: 5rem;
    margin-bottom: 20px;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.alternancia {
    position: relative;
    width: 40px;
    height: 20px;
}

.alternancia input {
    display: none;
}

.deslizante {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.deslizante:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .deslizante {
    background: var(--cor-botao);
}

input:checked + .deslizante:before {
    transform: translateX(20px);
}

.rotulo-alternancia {
    margin-left: 10px;
}

.botoes-controle {
    display: flex;
    justify-content: space-around;
}

.botao-principal,
.botao-reiniciar {
    background: var(--cor-botao);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--cor-secundaria);
    font-size: 1rem;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 5px;
    min-width: 120px; /* Garantir que os botões tenham a mesma largura mínima */
}

.botao-principal:hover,
.botao-reiniciar:hover {
    background: var(--botao-hover);
}

.botao-reiniciar.desabilitado {
    background: var(--cor-desabilitada);
    cursor: not-allowed;
}

.icone-botao {
    margin-right: 10px;
}

.rodape {
    margin-top: 20px;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-conteudo {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    color: #333;
    font-family: var(--fonte-principal);
    text-align: left;
    line-height: 1.6;
}

.modal-conteudo h2, .modal-conteudo h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.modal-conteudo p {
    margin-bottom: 5px;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries para responsividade */
@media (max-width: 767px) {
    .titulo {
        font-size: 2.5rem;
    }
    .frase {
        font-size: 1.2rem;
    }
    .secao-temporizador {
        padding: 20px;
    }
    .menu-cartao {
        flex-direction: column;
        align-items: center;
    }
    .botao {
        font-size: 1rem;
        padding: 8px;
        width: 80%;
    }
    .temporizador {
        font-size: 3.5rem;
    }
    .botoes-controle {
        flex-direction: column;
        align-items: center;
    }
    .botao-principal,
    .botao-reiniciar {
        width: 80%;
        margin-bottom: 10px;
    }
}